<h1 class="center">Liste pokémons !</h1>

<!-- <input type="number" (click)="selectPokemonNumber($event)"/> <br>

<p>Deuxieme methode</p>

<input type="text" #input (keyup)="0"/>
<p>{{input.value}}</p>

<p>Troisieme methode</p> 

<input type="number" #input (keyup.enter)="selectPokemonTrois(input.value)"/>
<p>{{pokemonSelected?.name}}</p>

Afficher sur l'interface
<p>Quatrieme methode</p> 

<input type="number" #input (keyup.enter)="selectPokemonTrois(input.value)"/>

    <p *ngIf="pokemonSelected">
    Vous avez cliqué sur le pokomon: {{ pokemonSelected.name}}
    </p>
    <p *ngIf="!pokemonSelected">
        Aucun pokemon trouvé pour  le moment.
    </p>
        <p *ngFor="let pokemon of pokemonList">
        {{ pokemon.name}}
    </p>
    
    <p>{{ pokemonList[0].name }}</p>
    <p>{{ pokemonList[1].name }}</p>
    <p>{{ pokemonList[2].name }}</p>
    <p>{{ pokemonList[3].name }}</p>
    <p>{{ pokemonList[4].name }}</p>
    <p>{{ pokemonList[5].name }}</p>
    <p>{{ pokemonList[6].name }}</p>
    <p>{{ pokemonList[7].name }}</p>
    <p>{{ pokemonList[8].name }}</p>
    <p>{{ pokemonList[9].name }}</p>
    <p>{{ pokemonList[10].name }}</p>
    <p>{{ pokemonList[11].name }}</p> -->

<div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class=" card horizontal" (click)="selectPokemon(pokemon)" pkmnBorderCard>
                <div class="card image">
                    <img [src]="pokemon.picture">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}}</p>
                        <p><small> {{pokemon.created | date}} </small></p>
                        <span *ngFor="let type of pokemon.types" class="{{type | pokemonTypeColor}}">
                            {{type}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
