<h1>Bienvenue Cheikh!</h1>

<h2>Liste de Pokémons</h2>
<p>Test paragraphe</p>

<!-- <input type="number" (click)="selectPokemonNumber($event)"/> <br>


<p>Deuxieme methode</p>

<input type="text" #input (keyup)="0"/>
<p>{{input.value}}</p>

<p>Troisieme methode</p> -->

<input type="number" #input (keyup)="selectPokemonTrois(input.value)"/>
<p>{{pokemonSelected?.name}}</p>

<p>{{ pokemonList[0].name }}</p>
<p>{{ pokemonList[1].name }}</p>
<p>{{ pokemonList[2].name }}</p>
<p>{{ pokemonList[3].name }}</p>
<p>{{ pokemonList[4].name }}</p>
<p>{{ pokemonList[5].name }}</p>
<p>{{ pokemonList[6].name }}</p>
<p>{{ pokemonList[7].name }}</p>
<p>{{ pokemonList[8].name }}</p>
<p>{{ pokemonList[9].name }}</p>
<p>{{ pokemonList[10].name }}</p>
<p>{{ pokemonList[11].name }}</p>
